<h1>Listing snippets</h1>

<div class="text-right">
  <%= button_to 'Create Snippet', new_snippet_path, method: :get, class: "btn btn-large btn-primary" %>
</div>

<% @snippets.each do |snippet| %>
<div class="well">
  <h3><%= link_to snippet.title, snippet %></h3>
  <p><%= html_escape(snippet.description[0..49]) unless snippet.description.nil? %></p>
  <div class="text-right">
  <span><strong>Lang:</strong> <%= snippet.lang %></span>
  <span><strong>Tags:</strong> <%= snippet.tag_list %></span>
  </div>
  <!-- TODO: lang should be chosen by combobox (select-tag) -->
  <pre class="prettyprint linenums"><%= snippet.code.lines[0..10].join unless snippet.code.nil? %></pre>
  <div class="text-right">
  <span><%= link_to 'Edit', edit_snippet_path(snippet) %></span>
  <span><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
</div>
<% end %>

<br />

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
