<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Description:</b>
  <%= html_escape(@snippet.description) %>
</p>

<p>
  <b>Lang:</b>
  <%= @snippet.lang %>
</p>

<p>
  <b>Code:</b>
</p>
<pre>
  <code>
<%= @snippet.code.chomp %>
  </code>
</pre>

<h3>以下コメントです</h3>
<%= render 'comments/index' %>
<h4>コメントをください</h4>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
