<% if @user.id == @login_user.id %>
<div class="row-fluid">
  <div class="span10">
    <h1><%= @user.name %></h1>
    <p>You have <%= pluralize(@snippets.length, "snippet") %></p>
  </div>
  <div class="span2">
    <div class="field">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success disabled" %>
    </div>
    <div class="field">
      <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger disabled" %>
    </div>
  </div>
</div>
<% else %>
<h2><%= @user.name %></h2>
<p>Posted <%= pluralize(@snippets.length, "snippet") %></p>
<% end %>

<%= render 'snippets/index' %>
